{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANIWORDS</title>
    <link href="{% static 'css/aniwords.css' %}" rel="stylesheet">
    <script src="{% static 'js/ani.js' %}"></script>
</head>
<body>
    
</body>
</html>
<div class="container">
    <div class="word">
      <span class="letter">m</span>
      <span class="letter letter--o">o</span>
      <span class="letter letter--o">o</span>
      <span class="letter letter--o">o</span>  
      <span class="letter">d</span>
    </div>
  </div>