{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>EVENTS</title>
    <link href="{% static 'css/style3.css' %}" rel="stylesheet">
    <link href="{% static 'js/jarallax.css' %}" rel="stylesheet">
</head>
<body> 
    <section>
        <div class="box">
            <h2 data-jarallax-element="0 -200">April 11</h2>
            <div class="container">
                <div class="imgBx">
                    <img src="{% static 'css/Mercury.jpg' %}" class="jarallax-img" alt="">
                </div>
                <div class="content" data-jarallax-element="-200 0">
                    <p>April 11 is a special day. Yes there is a plante which is rarely seen by human. On April 11 West side this planet will be appear and that is called as Mecury 
                        Mercury is very close to the sun so the planet will set down along with the sun. So only there is a proveb called "We can get gold in earth but we can't see the Mercury."
                        This type of rare plant see going to appear in the space for some minutes in the sky after the sun set. This is the correct day to see the mercury in the sky. The Mercury 
                        will be rising in the sky at the higest point of 19.5 deg. """DON'T MISS IT"""</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="box">
            <h2 data-jarallax-element="0 200">April 22,23 2023</h2>
            <div class="container">
                <div class="imgBx">
                    <img src="{% static 'css/shower.jpg' %}" class="jarallax-img" alt="">
                </div>
                <div class="content" data-jarallax-element="-200 0">
                    <p>From the Northern Hemisphere. the bright star Vega in the constellation Lyra – near the radiant point for the Lyrid shower – rises above your local horizon, in the northeast, around 9 to 10 p.m. local time in April. That’s the time on your clock, from mid-latitudes, from the northern part of the globe. Vega climbs upward through the rest of the night. By midnight, Vega is high enough in the sky that meteors radiating from that direction streak across your sky. Just before dawn, Vega and the radiant point shine high overhead, and the meteors will be raining down from the top of the Northern Hemisphere sky.
                        When to watch in 2023: Late evening April 21 until dawn April 22 – or late evening April 22 until dawn April 23. Still, you might see some!</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="box">
            <h2 data-jarallax-element="0 -200">April 15, 16 2023</h2>
            <div class="container">
                <div class="imgBx">
                    <img src="{% static 'uranus.jpg' %}" class="jarallax-img" alt="">
                </div>
                <div class="content" data-jarallax-element="-200 0">
                    <p>At forty-five minutes before sunrise, the crescent moon, 21% illuminated, is about 10° above the southeast horizon.  Notice that an imaginary line drawn between the points of the crescent moon, also known as the horns, are nearly vertical.

                        This morning the moon is below the plane of the solar system, the ecliptic, and the crescent indicates that the sun is much farther north.  In addition, the ecliptic has a low angle with the eastern horizon.
             
                        The moon’s night portion is showing earthshine, sunlight that is reflected from Earth’s features that gently illuminates the lunar night.
            
                        Saturn is over 12° to the left of the crescent.  It rises about two minutes earlier each morning and appears higher before sunrise.
            
                        Jupiter is slowly joining Saturn in the predawn sky.  A few days after solar conjunction, the Jovian Giant appears in bright sunlight. It makes its first appearance next month.</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="box">
            <h2 data-jarallax-element="0 -200">May 6 - 7 2023</h2>
            <div class="container">
                <div class="imgBx">
                    <img src="{% static 'css/comet.jpg' %}" class="jarallax-img" alt="">
                </div>
                <div class="content" data-jarallax-element="-200 0">
                    <p>Halley’s Comet hasn’t been seen in the inner solar system since 1986 and yet this month will be responsible for one of the finest meteor showers of 2022.

                        How can that be? Out near the orbit of Neptune and on the cusp of traveling back towards the Sun – which it will next round in 2061 – Halley’s Comet is a giant. It’s reckoned to be about 9.3 by 5 miles in size. When it last rounded the Sun it, like all comets, melted a little.
            
                        This week it’s the Orionids meteor shower – so-called because its shooting stars appear to come from the constellation Orion – which peaks overnight on Thursday/Friday, October 20/21. The display of about 10-40 shooting stars per hour will be best after midnight.</p>
                </div>
            </div>
        </div>
    </section>
    <script src="{% static 'js\jarallax.js' %}"></script>
    <script src="{% static 'js/jarallax-element.js' %}"></script>
    <script type="text/javascript">
        jarallax(document.querySelectorAll('.jarallax'), {
            speed: 0.5,
        });
    </script>
</body>
</html>