{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/hubble.css' %}" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="gallery">
        <img src="../static/image/6WUbhKpdvSBCrUrnZrHkrE-1200-80.jpg.jpg" alt="a dream catcher">
        <img src="../static/image/qxBDXT5EEPvp6xutzMecPn-970-80.jpg.jpg" alt="a piano">
        <img src="../static/image/VHJBDqjYAQjRZXbbwrEwza-1200-80.jpg.jpg" alt="a live concert">
        <img src="../static/image/voPvKtdmbzGjzADrXN2de7-1200-80.jpg.jpg" alt="Paris">
      </div>
</body>
</html>